@media (min-width:0px){
    .conteudo{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }
    /*-------------------------CABECALHO------------------------*/
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        border-bottom: 1px solid #E3E5E6;

        padding-top: 2.438rem;
        padding-bottom: 1.75rem;
        padding-left: 5.125rem;
        padding-right: 5.125rem;
    }
    .secao__traducao___pagina{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.563rem;
    }
    .link__traducao___pagina{
        font-family: var(--satoshi);
        font-size: 16px;
        font-weight: 500;

        color: var(--low-pure);
    }
    .link__traducao___inativo{
        color: var(--high-dark);
    }
    .secao__botoes___menu{
        display: none;
    }
    /*---------------------NAVEGACAO------------------*/
    .secao__traducao___navegacao-mobile{
        display: none;
    }
    .navegacao__componentes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-top: 3.625rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 14.375rem;

        height: auto;

        border-right: 1px solid #E3E5E6;

    }
    .lista__navegacao___componentes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.188rem;

        width: 13rem;
    }
    .item__lista___navegacao{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.688rem;

        height: 1.625rem;

        overflow-y: hidden;

        transition: all .3s ease-in-out;
    }   
    .titulo__item___lista{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 16px;

        line-height: 120%;

        color: var(--low-pure);

        border: none;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 13rem;
    }
    .titulo__item___lista-abre{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 16px;

        line-height: 120%;

        color: var(--low-pure);

        border: none;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 13rem;
    }
    .titulo__item___lista-fecha{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 16px;

        line-height: 120%;

        color: var(--low-pure);

        border: none;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 13rem;

        display: none;
    }
    .vetor-navegacao{
        transition: all .3s ease-in-out;
    }
    @keyframes rotacionaVetor {
        0%{
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(180deg)
        }
    }
    @keyframes voltaVetor {
        0%{
            transform: rotate(180deg)
        }
        100%{
            transform: rotate(0deg)
        }
    }
    .secao__conteudo___lista{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.688rem;
        
        padding-left: 2rem;
    }
    .item__conteudo___lista{
        border: none;
        background-color: transparent;


        font-family: var(--cabinet);
        font-weight: var(--medium);
        font-size: 16px;

        line-height: 120%;
        letter-spacing: .03rem;

        color: var(--low-light);

        transition: all .1s ease-in-out;
    }
    .active{
        color: var(--primary);

        transition: all .1s ease-in-out;
    }
    /*---------------------INTRODUCAO------------------*/
    .secao__introducao{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.5rem;

        width: 90vw;

        padding-top: 4rem;
        padding-bottom: 8.938rem;
        padding-right: 4.625rem;

        animation: animaSecoes .3s ease-in-out forwards;
    }
    .secao__info___introducao{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }
    .titulo__info___introducao{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 48px;

        line-height: 120%;

        color: var(--low-dark);
    }
    .descricao__info___introducao{
        font-family: var(--inter);
        font-weight: var(--regular);

        color: var(--low-pure);

        line-height: 30px;

        opacity: 0.7;

        margin: 0%;
    }
    .secao__info___faq{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;

        padding-right: 6.25rem;
    }
    .titulo__info___faq{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 36px;

        line-height: 120%;

        color: var(--low-dark);
    }
    .descricao__info___faq{
        font-family: var(--inter);
        font-weight: var(--regular);

        color: var(--low-pure);

        line-height: 30px;

        opacity: 0.7;

        margin: 0%;
    }
    .fale-conosco{
        text-decoration: underline;

        color: var(--low-pure);

    }
    .secao__faq{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
    .botao__faq{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.563rem;

        border: none;
        background-color: transparent;

        height: 2.875rem;

        overflow-y: hidden;

        transition: all .3s ease-in-out;
    }
    .pergunta__faq{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.563rem;

        width: 72.67vw;

        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 18px;

        line-height: 120%;

        color: var(--low-dark);

        transition: none;
    }
    .resposta__faq{
        font-family: var(--inter);
        font-weight: var(--regular);

        color: var(--low-pure);

        line-height: 30px;

        margin: 0%;

        padding-right: 4rem;

        text-align: left;

        height: 3.75rem;
    }
    #pergunta__faq-1-desativa, #pergunta__faq-2-desativa, #pergunta__faq-3-desativa, #pergunta__faq-4-desativa{
        display: none;
    }
    .vetor-faq{
        transition: all .3s ease-in-out;
    }
    /*---------------------TIPOGRAFIA-----------------*/
    .secao__tipografia{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4.5rem;

        padding-top: 4rem;

        animation: animaSecoes .3s ease-in-out forwards;
    }
    @keyframes animaSecoes {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .secao__tabs___tipografia{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
    }
    .titulo__tabs___tipografia{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 48px;

        line-height: 120%;

        color: var(--low-dark);
    }
    .container__tabs___tipografia{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        border-bottom: 1px solid #E3E5E6;

        padding-bottom: .5rem;

        width: 75vw;
    }
    .botao__tab{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 18px;

        line-height: 120%;

        color: var(--low-light);

        border: none;
        background-color: transparent;
    }
    .secao__tipos___letra{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .container__cabecalho___tipos-letra{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        width: 75vw;
    }
    .titulo__cabecalho___tipos-letra{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 32px;

        line-height: 120%;

        color: var(--low-dark);
    }
    .descricao__tipos___letras{
        font-family: var(--inter);
        font-weight: var(--regular);

        color: var(--low-pure);

        line-height: 30px;

        opacity: 0.7;

        margin: 0%;

        width: 52.67vw;

        margin-bottom: 1.5rem;
    }
    .secao__exemplo___font-inter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        width: 75vw;

        border: 1px solid #DBDDDE;

        padding: 1.5rem;
    }
    .exemplo__font-inter___uppercase{
        font-family: var(--inter);
        font-weight: var(--regular);
        font-size: 19px;

        letter-spacing: .05rem;

        color: var(--low-dark);

        margin: 0%;

    }
    .exemplo__font-inter___lowcase{
        font-family: var(--inter);
        font-weight: var(--regular);
        font-size: 19px;

        letter-spacing: .05rem;

        color: var(--low-dark);

        margin: 0%;
    }
    .exemplo__font-inter___number{
        font-family: var(--inter);
        font-weight: var(--regular);
        font-size: 19px;

        letter-spacing: .2rem;

        color: var(--low-dark);

        margin: 0%;
    }
    .secao__codigo{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        width: 75vw;

        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1.5rem;

        background: #F7F7F7;
    }
    .input__text___codigo{
        background-color: transparent;
        border: none;

        color: transparent;
        width: 0px;
        height: 0px;

        opacity: 0;
    }
    .input__text___codigo:focus{
        outline: none;
    }
    .input__text___codigo::selection{
        color: transparent;
        background-color: transparent;
    }
    .texto__codigo{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 73.2vw;
    }
    .botao__copia___codigo{
        border: none;
        background-color: transparent;

        transition: all .1s ease-in-out;

        
        position: relative;
        top: -1rem;
        left: -1rem;
    }
    .vetor-copia-codigo{
        transition: all .1s ease-in-out;

    }
    .vetor-copia-codigo:hover .vetor-copia-codigo{
        stroke: #FF6666;

        transition: all .1s ease-in-out;
    }
    .vetor__download{
        transition: all .1s ease-in-out;
    }
    .vetor__download:hover .vetor__download{
        stroke: #FF6666;

        transition: all .1s ease-in-out;
    }
    .active-tipografia{
        color: var(--low-dark);
    }
    /*--------------------COLORIMETRIA------------------*/
    .texto-tab-ativo{
        display: none;
    }
    .secao__colorimetria{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;

        padding-top: 4rem;

        animation: animaSecoes .3s ease-in-out forwards;
    }
    .secao__tabs___colorimetria{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;


        color: var(--low-dark);

    }
    .titulo__tabs___colorimetria{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 48px;

        line-height: 120%;
    }
    .container__tabs___colorimetria{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        border-bottom: 1px solid #E3E5E6;

        padding-bottom: .5rem;

        width: 75vw;
    }
    .active-colorimetria{
        color: var(--low-dark);
    }
    .secao__cores{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        width: 75vw;
    }
    .descricao__secao___cores{
        font-family: var(--inter);
        font-weight: var(--regular);

        color: var(--low-pure);

        line-height: 30px;

        opacity: 0.7;

        margin: 0%;

        width: 52.67vw;
    }
    .lista__secao__cores{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 2rem;
        row-gap: 2rem;

        width: 75vw;
        height: 12rem;
    }
    .secao__cores-aba{
        display: flex;
        flex-direction: row;
        align-items: center;

        overflow-y: hidden;
    }
    .item__lista___secao-cores{
        width: 11.54vw;
        height: 4.938rem;
        display: flex;
        flex-direction: column;

        cursor: pointer;
    }
    .item__lista___secao-cores > label{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.188rem;

        width: 11.54vw;
        height: 4.938rem;

        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-bottom: 1rem;

        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 18px;

        color: #FDFEFF;

        cursor: pointer;

        transition: all .3s ease-in-out;
    }
    .container__item___lista-secao-cores{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.188rem;

        width: 11.54vw;
        height: 4.938rem;

        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-bottom: 1rem;

        cursor: pointer;
    }
    .cor__item___lista-secao-cores{
        font-family: var(--cabinet);
        font-weight: var(--bold);
        font-size: 18px;

        color: #FDFEFF;

        height: 4.938rem;

        cursor: pointer;
    }
    .cor__hex___item-lista{
        border: none;
        background-color: transparent;

        color: #FDFEFF;

        font-family: var(--inter);
        font-weight: var(--regular);
        font-size: 16px;

        width: 4.9rem;

        cursor: pointer;
    }
    /*------------------AZUL----------------*/
        #hex__azul-claro{
            background-color: #85A7FF;
            border-radius: 4px 0px 0px 4px;
        }
        #hex__azul-claro:focus{
            outline: none;
        }
        #hex__azul-claro:hover #label__hex___azul-claro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___azul-claro{
            background-color: #85A7FF;
            border-radius: 4px 0px 0px 4px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;
            
        }
        #hex__azul{
            background-color: #2C60E5;
        }
        #hex__azul:focus{
            outline: none;
        }
        #hex__azul:hover #label__hex___azul{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___azul{
            background-color: #2C60E5;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__azul-escuro{
            border-radius: 0px 4px 4px 0px;
            background-color: #002FA8;
        }
        #hex__azul-escuro:focus{
            outline: none;
        }
        #hex__azul-escuro:hover #label__hex___azul-escuro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___azul-escuro{
            border-radius: 0px 4px 4px 0px;
            background-color: #002FA8;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
    /*------------------ROXO----------------*/
        #hex__roxo-claro{
            background-color: #ECA0FF;
            border-radius: 4px 0px 0px 4px;
        }
        #hex__roxo-claro:focus{
            outline: none;
        }
        #hex__roxo-claro:hover #label__hex___roxo-claro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___roxo-claro{
            background-color: #ECA0FF;
            border-radius: 4px 0px 0px 4px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__roxo{
            background-color: #B724DC;
        }
        #hex__roxo:focus{
            outline: none;
        }
        #hex__roxo:hover #label__hex___roxo{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___roxo{
            background-color: #B724DC;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__roxo-escuro{
            background-color: #690084;
            border-radius: 0px 4px 4px 0px;
        }
        #hex__roxo-escuro:focus{
            outline: none;
        }
        #hex__roxo-escuro:hover #label__hex___roxo-escuro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___roxo-escuro{
            background-color: #690084;
            border-radius: 0px 4px 4px 0px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
    /*----------------VERDE---------------*/
        #hex__verde-claro{
            background-color: #8AD088;
            border-radius: 4px 0px 0px 4px;
        }
        #hex__verde-claro:focus{
            outline: none;
        }
        #hex__verde-claro:hover #label__hex___verde-claro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___verde-claro{
            background-color: #8AD088;
            border-radius: 4px 0px 0px 4px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__verde{
            background-color: #339331;
        }
        #hex__verde:focus{
            outline: none;
        }
        #hex__verde:hover #label__hex___verde{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___verde{
            background-color: #339331;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;
            
        }
        #hex__verde-escuro{
            background-color: #025900;
            border-radius: 0px 4px 4px 0px;
        }
        #hex__verde-escuro:focus{
            outline: none;
        }
        #hex__verde-escuro:hover #label__hex___verde-escuro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___verde-escuro{
            background-color: #025900;
            border-radius: 0px 4px 4px 0px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
    /*----------------LARANJA--------------*/
        #hex__laranja-claro{
            background-color: #FFC771;
            border-radius: 4px 0px 0px 4px;
        }
        #hex__laranja-claro:focus{
            outline: none;
        }
        #hex__laranja-claro:hover #label__hex___laranja-claro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___laranja-claro{
            background-color: #FFC771;
            border-radius: 4px 0px 0px 4px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__laranja{
            background-color: #FFAE34;
        }
        #hex__laranja:focus{
            outline: none;
        }
        #hex__laranja:hover #label__hex___laranja{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___laranja{
            background-color: #FFAE34;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__laranja-escuro{
            background-color: #FF9A00;
            border-radius: 0px 4px 4px 0px;
        }
        #hex__laranja-escuro:focus{
            outline: none;
        }
        #hex__laranja-escuro:hover #label__hex___laranja-escuro{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___laranja-escuro{
            background-color: #FF9A00;
            border-radius: 0px 4px 4px 0px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        /*----------------PRETO--------------*/
        #hex__low-pure{
            background-color: #131416;
            border-radius: 4px 0px 0px 4px;
        }
        #hex__low-pure:focus{
            outline: none;
        }
        #hex__low-pure:hover #label__hex___low-pure{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___low-pure{
            background-color: #131416;
            border-radius: 4px 0px 0px 4px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__low-dark{
            background-color: #292A2C;
        }
        #hex__low-dark:focus{
            outline: none;
        }
        #hex__low-dark:hover #label__hex___low-dark{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___low-dark{
            background-color: #292A2C;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__low-medium{
            background-color: #666666;
        }
        #hex__low-medium:focus{
            outline: none;
        }
        #hex__low-medium:hover #label__hex___low-medium{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___low-medium{
            background-color: #666666;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        #hex__low-light{
            background-color: #A3A3A3;
            border-radius: 0px 4px 4px 0px;
        }
        #hex__low-light:focus{
            outline: none;
        }
        #hex__low-light:hover #label__hex___low-light{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___low-light{
            background-color: #A3A3A3;
            border-radius: 0px 4px 4px 0px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

        }
        /*----------------CINZA--------------*/
        #cor__item-high{
            color: #292A2C;
        }
        #hex__high-dark{
            background-color: #BBBBBB;

            color: #292A2C;
            
        }
        #hex__high-dark:focus{
            outline: none;
        }
        #hex__high-dark:hover #label__hex___high-dark{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___high-dark{
            background-color: #BBBBBB;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

            color: #292A2C;

        }
        #hex__high-medium{
            background-color: #DBDDDE;

            color: #292A2C;
        }
        #hex__high-medium:focus{
            outline: none;
        }
        #hex__high-medium:hover #label__hex___high-medium{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___high-medium{
            background-color: #DBDDDE;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

            color: #292A2C;

        }
        #hex__high-light{
            background-color: #E3E5E6;

            color: #292A2C;

        }
        #hex__high-light:focus{
            outline: none;
        }
        #hex__high-light:hover #label__hex___high-light{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___high-light{
            background-color: #E3E5E6;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

            color: #292A2C;

        }
        #hex__high-pure{
            background-color: #FDFEFF;
            border-radius: 0px 4px 4px 0px;

            color: #292A2C;

            border-top: .8px solid #E3E5E6;
            border-right: .8px solid #E3E5E6;
            border-bottom: .8px solid #E3E5E6;

            height: 4.9rem;
        }
        #hex__high-pure:focus{
            outline: none;
        }
        #hex__high-pure:hover #label__hex___high-pure{
            position: relative;
            top: -4.938rem;


            transition: all .4s ease-in-out;
        }
        #label__hex___high-pure{
            background-color: #FDFEFF;
            border-radius: 0px 4px 4px 0px;

            position: relative;
            top: 0rem;
            transition: all .4s ease-in-out;

            color: #292A2C;

            border-top: .8px solid #E3E5E6;
            border-right: .8px solid #E3E5E6;
        }

        /*----------------BOTOES----------------*/
        #tamanhos-botoes-desktop{
            display: flex;
        }
        #tamanhos-botoes-mobile{
            display: none;
        }
        .secao__botoes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.5rem;
            padding-top: 4rem;
            padding-bottom: 12rem;
            animation: animaSecoes .3s ease-in-out forwards;
        }
        .secao__tabs___botoes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            gap: 2.5rem;
        }
        .titulo__tabs___botoes{
            font-family: var(--cabinet);
            font-weight: var(--bold);
            font-size: 48px;
            line-height: 120%;
        }
        .container__tabs___botoes{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            border-bottom: 1px solid #E3E5E6;
            padding-bottom: .5rem;
            width: 75vw;
        }

        .secao__componentes___botoes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.5rem;
        }
        .secao__botao___componentes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .secao__info___botao-componentes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
        .titulo__info___botao-componentes{
            font-family: var(--cabinet);
            font-weight: var(--bold);
            font-size: 32px;
            line-height: 120%;
            color: var(--low-dark);
        }
        .descricao__info___botao-componentes{
            font-family: var(--inter);
            font-weight: var(--regular);
            color: var(--low-pure);
            line-height: 30px;
            opacity: 0.7;
            margin: 0%;
            margin-bottom: 0%;
            width: 52.67vw;
            margin-bottom: 1.5rem;
        }
        .secao__visual___botao{
            display: flex;
            flex-direction: row;

            width: 75vw;

            border: 1px solid #DBDDDE;

            padding: 1.5rem;
        }
        .secao__visual___botao-space-between{
            justify-content: space-between;
            align-items: center;

            padding-right: 4.313rem;
        }
        .container__info___visual-botao{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            height: 8rem;
        }
        .texto__info___visual-botao{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .875rem;
        }
        /*-----------VARIACOES-BOTOES----------*/
        .button__primary{
            font-family: var(--inter);
            font-weight: var(--semi-bold);
            line-height: 19px;

            background-color: #3E3AFF;

            color: #FDFEFF;

            border-radius: 5px;
            border: 2px solid #3E3AFF;

            padding-bottom: 0.906rem;
            padding-top: 0.906rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .button__secundary{
            font-family: var(--inter);
            font-weight: var(--semi-bold);
            line-height: 19px;

            background-color: #FFFFFF;

            color: #3E3AFF;

            border-radius: 5px;
            border: 2px solid #3E3AFF;

            padding-bottom: 0.906rem;
            padding-top: 0.906rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .tipo__visual{
            font-family: var(--inter);
            font-weight: var(--regular);
            font-size: 14px;

            color: var(--low-medium);

            text-align: center;
        }
        .classe__visual{
            font-family: var(--inter);
            font-weight: var(--regular);
            font-size: 12px;

            color: var(--primary-light);
        }
        .classe__visual-16{
            font-family: var(--inter);
            font-weight: var(--regular);
            font-size: 16px;

            color: var(--primary-light);
        }
        /*-----------VARIACOES-TAMANHOS-PRIMARY----------*/
        .button__primary--xl{
            padding-bottom: 1.281rem;
            padding-top: 1.281rem;
            padding-left: 4.625rem;
            padding-right: 4.625rem;

            border-radius: 10px;
        }
        .button__primary--x{
            padding-bottom: 1.031rem;
            padding-top: 1.031rem;
            padding-left: 3.813rem;
            padding-right: 3.813rem;

            border-radius: 10px;
        }
        .button__primary--m{
            padding-bottom: 0.906rem;
            padding-top: 0.906rem;
            padding-left: 3rem;
            padding-right: 3rem;

            border-radius: 10px;
        }
        .button__primary--s{
            padding-bottom: 0.688rem;
            padding-top: 0.688rem;
            padding-left: 2.063rem;
            padding-right: 2.063rem;

            border-radius: 10px;
            
            font-size: 14px;
        }
        .button__primary--xs{
            padding-bottom: 0.25rem;
            padding-top: 0.25rem;
            padding-left: 0.906rem;
            padding-right: 0.906rem;

            border-radius: 10px;

            font-size: 12px;
        }
        /*-----------VARIACOES-TAMANHOS-PRIMARY----------*/
        .button__secundary--xl{
            padding-bottom: 1.281rem;
            padding-top: 1.281rem;
            padding-left: 4.625rem;
            padding-right: 4.625rem;

            border-radius: 10px;
        }
        .button__secundary--x{
            padding-bottom: 1.031rem;
            padding-top: 1.031rem;
            padding-left: 3.813rem;
            padding-right: 3.813rem;

            border-radius: 10px;
        }
        .button__secundary--m{
            padding-bottom: 0.906rem;
            padding-top: 0.906rem;
            padding-left: 3rem;
            padding-right: 3rem;

            border-radius: 10px;
        }
        .button__secundary--s{
            padding-bottom: 0.688rem;
            padding-top: 0.688rem;
            padding-left: 2.063rem;
            padding-right: 2.063rem;

            border-radius: 10px;
            
            font-size: 14px;
        }
        .button__secundary--xs{
            padding-bottom: 0.25rem;
            padding-top: 0.25rem;
            padding-left: 0.906rem;
            padding-right: 0.906rem;

            border-radius: 10px;

            font-size: 12px;
        }
        /*-----------VARIACOES-ICONE-PRIMARY----------*/
        .button__primary-icone{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.938rem;

            border-radius: 10px;
        }
        /*-----------VARIACOES-HOVER-PRIMARY----------*/
        .button__primary-hover{
            transition: all .2s ease-in-out;

            border-radius: 10px;

        }
        .button__primary-hover:hover{
            transition: all .2s ease-in-out;

            background: #9594AC;

            border: 2px solid #9594AC;
        }
        /*-----------VARIACOES-DISABLED-PRIMARY---------*/
        .button__primary-disabled{
            background-color: #DBDDDE;

            color: #FDFEFF;

            border-radius: 10px;
            border: 2px solid #DBDDDE;
        }
        /*-----------VARIACOES-LOADING-PRIMARY---------*/
        .button__primary-loading{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.938rem;

            border-radius: 10px;
        }
        .vetor-loading-primary{
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        /*-----------VARIACOES-ICONE-SECUNDARY----------*/
        .button__secundary-icone{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.938rem;

            border-radius: 10px;
        }
        /*-----------VARIACOES-HOVER-SECUNDARY----------*/
        .button__secundary-hover{
            transition: all .2s ease-in-out;

            border-radius: 10px;

        }
        .button__secundary-hover:hover{
            transition: all .2s ease-in-out;

            background: #E6E5FA;

            border: 2px solid #3E3AFF;
        }
        /*-----------VARIACOES-DISABLED-SECUNDARY---------*/
        .button__secundary-disabled{
            background-color: #FFFFFF;

            color: #DBDDDE;

            border-radius: 10px;
            border: 2px solid #DBDDDE;
        }
        /*-----------VARIACOES-LOADING-SECUNDARY---------*/
        .button__secundary-loading{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.938rem;

            border-radius: 10px;
        }
        .vetor-loading-secundary{
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        /*-------------FORMULARIOS-------------*/
        .secao__formularios{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.5rem;
            padding-top: 4rem;
            padding-bottom: 12rem;
            animation: animaSecoes .3s ease-in-out forwards;
        }
        .secao__tabs___formulario{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            gap: 2.5rem;
        }
        .titulo__tabs___formulario{
            font-family: var(--cabinet);
            font-weight: var(--bold);
            font-size: 48px;
            line-height: 120%;
        }
        .container__tabs___formulario{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            border-bottom: 1px solid #E3E5E6;
            padding-bottom: .5rem;
            width: 75vw;
        }
        .secao__componentes___formularios{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.5rem;
        }
        .secao__formularios___componentes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .secao__info___formularios-componentes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
        .titulo__info___formularios-componentes{
            font-family: var(--cabinet);
            font-weight: var(--bold);
            font-size: 32px;
            line-height: 120%;
            color: var(--low-dark);
        }
        .descricao__info___formularios-componentes{
            font-family: var(--inter);
            font-weight: var(--regular);
            color: var(--low-pure);
            line-height: 30px;
            opacity: 0.7;
            margin: 0%;
            margin-bottom: 0%;
            width: 52.67vw;
            margin-bottom: 1.5rem;
        }
        .secao__visual___formularios{
            display: flex;
            flex-direction: row;

            width: 75vw;

            border: 1px solid #DBDDDE;

            padding: 1.5rem;
        }
        .secao__visual___formularios-space-between{
            justify-content: space-between;
            align-items: center;

            padding-right: 9.75rem;
        }
        .container__info___visual-formularios{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            height: 9.2rem;
        }
        .texto__info___visual-formularios{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .875rem;
        }
        .container__input___formularios{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .184rem;
        }
        .label__input___formularios{
            font-family: var(--inter);
            font-weight: var(--regular);
            font-size: 16px;
        }
        .input__formularios{
            font-family: var(--inter);
            font-weight: var(--regular);
            font-size: 19px;

            border: 1.12836px solid #929BA7;
            border-radius: 11.2836px;

            padding-top: 1.144rem;
            padding-bottom: 1.144rem;
            padding-left: 0.846rem;
            padding-right: 1rem;
        }
        .input__formularios:focus{
            outline: none;
        }
        /*------------VARIAVEIS-INPUT-TAMANHO-----------*/
        .label__formularios--xl{
            font-size: 16.3px;
        }
        .input__formularios--xl{
            width: 23.625rem;
        }
        .label__formularios--l{
            font-size: 16.12px;
        }
        .input__formularios--l{
            width: 22.5rem;

            font-size: 18px;

            padding-top: 1.094rem;
            padding-bottom: 1.094rem;
            padding-left: 0.806rem;
        }
        .label__formularios--m{
            font-size: 15px;
        }
        .input__formularios--m{
            width: 20.938rem;

            font-size: 17px;

            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0.75rem;
        }
        .label__formularios--s{
            font-size: 10.93px;
        }
        .input__formularios--s{
            width: 15.25rem;

            font-size: 12.38px;

            padding-top: 0.721rem;
            padding-bottom: 0.721rem;
            padding-left: 0.546rem;
        }
        /*------------VARIAVEIS-DEFAULT-DESATIVO-----------*/
        .label__formularios--default{
            font-family: var(--inter);
            font-weight: var(--regular);
        }
        .input__formularios--default{
            font-family: var(--inter);
            font-weight: var(--regular);

            border: 1.12836px solid #929BA7;
            border-radius: 11.2836px;

        }
        /*------------VARIAVEIS-DEFAULT-ATIVO-----------*/
        .label__formularios--is-active{
            color: #3E3AFF;
        }
        .is-active{
            border: 2px solid #3E3AFF;
        }
        .is-active:focus{
            outline: none;
        }
        /*------------VARIAVEIS-DEFAULT-ERRO-----------*/
        .label__formularios--is-erro{
            color: #D40000;
        }
        .is-erro{
            border: 2px solid #D40000;
        }
        .is-erro:focus{
            outline: none;
        }
        .mensagem-erro{
            color: #D40000;

            font-family: var(--inter);
            font-weight: var(--regular);
            font-size: 13px;
        }
        .icone-input{
            background-image: url("../../Assets/Vetores/Formularios/Vetores/vetor-busca.svg");
            background-position: 1rem center;
            background-repeat: no-repeat;

            padding-left: 3.25rem;
        }
        /*------------VARIAVEIS-DEFAULT-TEXTAREA-----------*/
        .container__text-area{
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 0.75rem;
        }
        .input-textarea{
            height: 7.938rem;

            user-select: text;
        }
        .secao__alerta___copy{
            display: none;

            color: #2C60E5;

            position: relative;

            bottom: -30%;
            left: 45%;

            
        }
        @keyframes animaAlert{
            0%{
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            90%{
                opacity: 0;
            }
            100%{
                display: none;
                opacity: 0;
            }
        }
}